-i https://pypi.org/simple
awesome-slugify==1.6.5
boto3==1.14.10
botocore==1.17.10
docutils==0.15.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
jmespath==0.10.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
nose==1.3.7
python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyyaml==5.3.1
regex==2020.6.8
s3transfer==0.3.3
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
unidecode==0.4.21
urllib3==1.25.9; python_version != '3.4'
