-i https://pypi.org/simple
boto3==1.9.105
botocore==1.12.105
docutils==0.14
jmespath==0.9.4
nose==1.3.7
python-dateutil==2.8.0 ; python_version >= '2.7'
pyyaml==3.13
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.1 ; python_version >= '3.4'
